<div>
  <!--- more free and premium Tailwind CSS components at https://tailwinduikit.com/ --->

  <button class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 focus:bg-gray-100 w-64 p-4 shadow rounded bg-white text-sm font-medium leading-none text-gray-800 flex items-center justify-between cursor-pointer" onclick="dropdownHandler()">
      Channels
      <div>
          <div class="hidden" id="close">
              <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.00016 0.666664L9.66683 5.33333L0.333496 5.33333L5.00016 0.666664Z" fill="#1F2937" />
              </svg>
          </div>
          <div id="open">
              <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.00016 5.33333L0.333496 0.666664H9.66683L5.00016 5.33333Z" fill="#1F2937" />
              </svg>
          </div>
      </div>
  </button>
  <div class="w-64 mt-2 p-4 bg-white shadow rounded" id="dropdown">
      <div class="flex items-center justify-between">
          <div class="flex items-center">
              <svg role="button" aria-label="dropdown" tabindex="0" onclick="toggleSubDir(1)" onkeypress="toggleSubDir(1)" class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 rounded-md" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M4.5 3L7.5 6L4.5 9" stroke="#4B5563" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
              </svg>

              <div class="pl-4 flex items-center">
                  <div class="bg-gray-100 dark:bg-gray-800 border rounded-sm border-gray-200 dark:border-gray-700 w-3 h-3 flex flex-shrink-0 justify-center items-center relative">
                      <input aria-labelledby="fb1" type="checkbox" class="focus:opacity-100 checkbox opacity-0 absolute cursor-pointer w-full h-full" />
                      <div class="check-icon hidden bg-indigo-700 text-white rounded-sm">
                          <svg class="icon icon-tabler icon-tabler-check" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" />
                              <path d="M5 12l5 5l10 -10" />
                          </svg>
                      </div>
                  </div>
                  <p id="fb1" tabindex="0" class="focus:outline-none text-sm leading-normal ml-2 text-gray-800">Facebook</p>
              </div>
          </div>
          <p tabindex="0" class="focus:outline-none w-8 text-xs leading-3 text-right text-indigo-700">2,381</p>
      </div>
      <div id="sublist1" class="pl-8 pt-5 hidden">
          <div class="flex items-center justify-between">
              <div class="pl-4 flex items-center">
                  <div class="bg-gray-100 dark:bg-gray-800 border rounded-sm border-gray-200 dark:border-gray-700 w-3 h-3 flex flex-shrink-0 justify-center items-center relative">
                      <input aria-labelledby="usa1" type="checkbox" class="focus:opacity-100 checkbox opacity-0 absolute cursor-pointer w-full h-full" />
                      <div class="check-icon hidden bg-indigo-700 text-white rounded-sm">
                          <svg class="icon icon-tabler icon-tabler-check" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" />
                              <path d="M5 12l5 5l10 -10" />
                          </svg>
                      </div>
                  </div>
                  <p id="usa1" tabindex="0" class="focus:outline-none text-sm leading-normal ml-2 text-gray-800">USA</p>
              </div>
              <p tabindex="0" class="focus:outline-none w-8 text-xs leading-3 text-right text-indigo-700">2,381</p>
          </div>
          <div class="flex pt-4 items-center justify-between">
              <div class="pl-4 flex items-center">
                  <div class="bg-gray-100 dark:bg-gray-800 border rounded-sm border-gray-200 dark:border-gray-700 w-3 h-3 flex flex-shrink-0 justify-center items-center relative">
                      <input aria-labelledby="ger1" type="checkbox" class="focus:opacity-100 checkbox opacity-0 absolute cursor-pointer w-full h-full" />
                      <div class="check-icon hidden bg-indigo-700 text-white rounded-sm">
                          <svg class="icon icon-tabler icon-tabler-check" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" />
                              <path d="M5 12l5 5l10 -10" />
                          </svg>
                      </div>
                  </div>
                  <p id="ger1" tabindex="0" class="focus:outline-none text-sm leading-normal ml-2 text-gray-800">Germany</p>
              </div>
              <p tabindex="0" class="focus:outline-none w-8 text-xs leading-3 text-right text-indigo-700">2,381</p>
          </div>
          <div class="flex pt-4 items-center justify-between">
              <div class="pl-4 flex items-center">
                  <div class="bg-gray-100 dark:bg-gray-800 border rounded-sm border-gray-200 dark:border-gray-700 w-3 h-3 flex flex-shrink-0 justify-center items-center relative">
                      <input aria-labelledby="italy1" type="checkbox" class="focus:opacity-100 checkbox opacity-0 absolute cursor-pointer w-full h-full" />
                      <div class="check-icon hidden bg-indigo-700 text-white rounded-sm">
                          <svg class="icon icon-tabler icon-tabler-check" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" />
                              <path d="M5 12l5 5l10 -10" />
                          </svg>
                      </div>
                  </div>
                  <p id="italy1" tabindex="0" class="focus:outline-none text-sm leading-normal ml-2 text-gray-800">Italy</p>
              </div>
              <p tabindex="0" class="focus:outline-none w-8 text-xs leading-3 text-right text-indigo-700">2,381</p>
          </div>
      </div>
      <div>
          <div class="flex items-center justify-between mt-4">
              <div class="flex items-center">
                  <svg role="button" aria-label="dropdown" tabindex="0" onclick="toggleSubDir(2)" onkeypress="toggleSubDir(2)" class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 rounded-md" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M4.5 3L7.5 6L4.5 9" stroke="#4B5563" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>

                  <div class="pl-4 flex items-center">
                      <div class="bg-gray-100 dark:bg-gray-800 border rounded-sm border-gray-200 dark:border-gray-700 w-3 h-3 flex flex-shrink-0 justify-center items-center relative">
                          <input aria-labelledby="twitter2" type="checkbox" class="focus:opacity-100 checkbox opacity-0 absolute cursor-pointer w-full h-full" />
                          <div class="check-icon hidden bg-indigo-700 text-white rounded-sm">
                              <svg class="icon icon-tabler icon-tabler-check" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                  <path stroke="none" d="M0 0h24v24H0z" />
                                  <path d="M5 12l5 5l10 -10" />
                              </svg>
                          </div>
                      </div>
                      <p id="twitter2" tabindex="0" class="focus:outline-none text-sm leading-normal ml-2 text-gray-800">Twitter</p>
                  </div>
              </div>
              <p tabindex="0" class="focus:outline-none w-8 text-xs leading-3 text-right text-indigo-700">3,521</p>
          </div>
          <div id="sublist2" class="pl-8 pt-5 hidden">
              <div class="flex items-center justify-between">
                  <div class="pl-4 flex items-center">
                      <div class="bg-gray-100 dark:bg-gray-800 border rounded-sm border-gray-200 dark:border-gray-700 w-3 h-3 flex flex-shrink-0 justify-center items-center relative">
                          <input aria-labelledby="usa2" type="checkbox" class="focus:opacity-100 checkbox opacity-0 absolute cursor-pointer w-full h-full" />
                          <div class="check-icon hidden bg-indigo-700 text-white rounded-sm">
                              <svg class="icon icon-tabler icon-tabler-check" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                  <path stroke="none" d="M0 0h24v24H0z" />
                                  <path d="M5 12l5 5l10 -10" />
                              </svg>
                          </div>
                      </div>
                      <p id="usa2" tabindex="0" class="focus:outline-none text-sm leading-normal ml-2 text-gray-800">USA</p>
                  </div>
                  <p tabindex="0" class="focus:outline-none w-8 text-xs leading-3 text-right text-indigo-700">2,381</p>
              </div>
              <div class="flex pt-4 items-center justify-between">
                  <div class="pl-4 flex items-center">
                      <div class="bg-gray-100 dark:bg-gray-800 border rounded-sm border-gray-200 dark:border-gray-700 w-3 h-3 flex flex-shrink-0 justify-center items-center relative">
                          <input aria-labelledby="ger2" type="checkbox" class="focus:opacity-100 checkbox opacity-0 absolute cursor-pointer w-full h-full" />
                          <div class="check-icon hidden bg-indigo-700 text-white rounded-sm">
                              <svg class="icon icon-tabler icon-tabler-check" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                  <path stroke="none" d="M0 0h24v24H0z" />
                                  <path d="M5 12l5 5l10 -10" />
                              </svg>
                          </div>
                      </div>
                      <p id="ger2" tabindex="0" class="focus:outline-none text-sm leading-normal ml-2 text-gray-800">Germany</p>
                  </div>
                  <p tabindex="0" class="focus:outline-none w-8 text-xs leading-3 text-right text-indigo-700">2,381</p>
              </div>
              <div class="flex pt-4 items-center justify-between">
                  <div class="pl-4 flex items-center">
                      <div class="bg-gray-100 dark:bg-gray-800 border rounded-sm border-gray-200 dark:border-gray-700 w-3 h-3 flex flex-shrink-0 justify-center items-center relative">
                          <input aria-labelledby="italy2" type="checkbox" class="focus:opacity-100 checkbox opacity-0 absolute cursor-pointer w-full h-full" />
                          <div class="check-icon hidden bg-indigo-700 text-white rounded-sm">
                              <svg class="icon icon-tabler icon-tabler-check" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                  <path stroke="none" d="M0 0h24v24H0z" />
                                  <path d="M5 12l5 5l10 -10" />
                              </svg>
                          </div>
                      </div>
                      <p id="italy2" tabindex="0" class="focus:outline-none text-sm leading-normal ml-2 text-gray-800">Italy</p>
                  </div>
                  <p tabindex="0" class="focus:outline-none w-8 text-xs leading-3 text-right text-indigo-700">2,381</p>
              </div>
          </div>
      </div>
      <div>
          <div class="flex items-center justify-between mt-4">
              <div class="flex items-center">
                  <svg role="button" aria-label="dropdown" tabindex="0" onclick="toggleSubDir(3)" onkeypress="toggleSubDir(3)" class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 rounded-md"  width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M4.5 3L7.5 6L4.5 9" stroke="#4B5563" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>

                  <div class="pl-4 flex items-center">
                      <div class="bg-gray-100 dark:bg-gray-800 border rounded-sm border-gray-200 dark:border-gray-700 w-3 h-3 flex flex-shrink-0 justify-center items-center relative">
                          <input aria-labelledby="insta3" type="checkbox" class="focus:opacity-100 checkbox opacity-0 absolute cursor-pointer w-full h-full" />
                          <div class="check-icon hidden bg-indigo-700 text-white rounded-sm">
                              <svg class="icon icon-tabler icon-tabler-check" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                  <path stroke="none" d="M0 0h24v24H0z" />
                                  <path d="M5 12l5 5l10 -10" />
                              </svg>
                          </div>
                      </div>
                      <p id="insta3" tabindex="0" class="focus:outline-none text-sm leading-normal ml-2 text-gray-800">Instagram</p>
                  </div>
              </div>
              <p tabindex="0" class="focus:outline-none w-8 text-xs leading-3 text-right text-indigo-700">5,142</p>
          </div>
          <div id="sublist3" class="pl-8 pt-5">
              <div class="flex items-center justify-between">
                  <div class="pl-4 flex items-center">
                      <div class="bg-gray-100 dark:bg-gray-800 border rounded-sm border-gray-200 dark:border-gray-700 w-3 h-3 flex flex-shrink-0 justify-center items-center relative">
                          <input aria-labelledby="usa3" type="checkbox" class="focus:opacity-100 checkbox opacity-0 absolute cursor-pointer w-full h-full" />
                          <div class="check-icon hidden bg-indigo-700 text-white rounded-sm">
                              <svg class="icon icon-tabler icon-tabler-check" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                  <path stroke="none" d="M0 0h24v24H0z" />
                                  <path d="M5 12l5 5l10 -10" />
                              </svg>
                          </div>
                      </div>
                      <p id="usa3" tabindex="0" class="focus:outline-none text-sm leading-normal ml-2 text-gray-800">USA</p>
                  </div>
                  <p tabindex="0" class="focus:outline-none w-8 text-xs leading-3 text-right text-indigo-700">2,381</p>
              </div>
              <div class="flex pt-4 items-center justify-between">
                  <div class="pl-4 flex items-center">
                      <div class="bg-gray-100 dark:bg-gray-800 border rounded-sm border-gray-200 dark:border-gray-700 w-3 h-3 flex flex-shrink-0 justify-center items-center relative">
                          <input aria-labelledby="germany3" type="checkbox" class="focus:opacity-100 checkbox opacity-0 absolute cursor-pointer w-full h-full" />
                          <div class="check-icon hidden bg-indigo-700 text-white rounded-sm">
                              <svg class="icon icon-tabler icon-tabler-check" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                  <path stroke="none" d="M0 0h24v24H0z" />
                                  <path d="M5 12l5 5l10 -10" />
                              </svg>
                          </div>
                      </div>
                      <p id="germany3" tabindex="0" class="focus:outline-none text-sm leading-normal ml-2 text-gray-800">Germany</p>
                  </div>
                  <p tabindex="0" class="focus:outline-none w-8 text-xs leading-3 text-right text-indigo-700">2,381</p>
              </div>
              <div class="flex pt-4 items-center justify-between">
                  <div class="pl-4 flex items-center">
                      <div class="bg-gray-100 dark:bg-gray-800 border rounded-sm border-gray-200 dark:border-gray-700 w-3 h-3 flex flex-shrink-0 justify-center items-center relative">
                          <input aria-labelledby="italy3" type="checkbox" class="focus:opacity-100 checkbox opacity-0 absolute cursor-pointer w-full h-full" />
                          <div class="check-icon hidden bg-indigo-700 text-white rounded-sm">
                              <svg class="icon icon-tabler icon-tabler-check" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                  <path stroke="none" d="M0 0h24v24H0z" />
                                  <path d="M5 12l5 5l10 -10" />
                              </svg>
                          </div>
                      </div>
                      <p id="italy3" tabindex="0" class="focus:outline-none text-sm leading-normal ml-2 text-gray-800">Italy</p>
                  </div>
                  <p tabindex="0" class="focus:outline-none w-8 text-xs leading-3 text-right text-indigo-700">2,381</p>
              </div>
          </div>
      </div>

      <button class="focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 focus:outline-none focus:bg-indigo-200 text-xs bg-indigo-100 hover:bg-indigo-200 rounded-md mt-6 font-medium py-2 w-full leading-3 text-indigo-700">Select</button>
  </div>
</div>


<div class="relative inline-block text-left">
  <div>
    <button type="button" class="inline-flex w-full justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-100" id="menu-button" aria-expanded="true" aria-haspopup="true">
      Options
      <!-- Heroicon name: mini/chevron-down -->
      <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
      </svg>
    </button>
  </div>

  <!--
    Dropdown menu, show/hide based on menu state.

    Entering: "transition ease-out duration-100"
      From: "transform opacity-0 scale-95"
      To: "transform opacity-100 scale-100"
    Leaving: "transition ease-in duration-75"
      From: "transform opacity-100 scale-100"
      To: "transform opacity-0 scale-95"
  -->
  <div class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
    <div class="py-1" role="none">
      <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
      <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0">Account settings</a>
      <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1">Support</a>
      <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-2">License</a>
      <form method="POST" action="#" role="none">
        <button type="submit" class="text-gray-700 block w-full px-4 py-2 text-left text-sm" role="menuitem" tabindex="-1" id="menu-item-3">Sign out</button>
      </form>
    </div>
  </div>
</div>


<div class="w-full h-full max-w-screen-2xl mx-auto px-7 md:px-24 relative -top-16 z-20">
	<div class="min-h-screen relative flex justify-center items-center">
		<div class="w-full flex flex-col justify-center items-center lg:flex-row lg:justify-between">
			<div class="lg:w-6/12 text-center lg:text-left order-2 lg:order-1 relative">
				<div class="lg:absolute lg:-top-56 z-20">
					<p class="text-xs text-slate-500 uppercase font-medium">
						<%= t('static_page.home.3d_print') %>
					</p>
					<h1 class="text-3xl lg:text-6xl text-gray-800 pt-2 font-medium">
						<%= t('static_page.home.title_part1') %>
						<br />
						<%= t('static_page.home.title_part2') %>
					</h1>
				</div>
			</div>
			<div class="w-full lg:w-4/12 order-1 lg:order-2">
				<div class="w-full lg:w-4/5 lg:absolute top-6 -right-7 z-10">
					<%= image_tag("home_img/models.png") %>
				</div>
			</div>
		</div>
	</div>
	<div class="relative flex flex-col justify-center items-center">
		<h4 class="absolute bottom-14 text-center text-zinc-500 uppercase font-medium pb-2 bg-stone-200 z-20">
			<%= t('static_page.home.scroll_text') %>
		</h4>
		<div class="absolute bottom-4 z-10">
			<%= image_tag("home_img/arrow.png") %>
		</div>
	</div>
	<div class="w-full px-4 lg:px-0 lg:w-2/4 mx-auto py-20 text-zinc-500 text-center">
		<p>
			<%= t('static_page.home.print_desc') %>
		</p>
	</div>
	<div class="flex flex-col justify-between items-center lg:flex-row relative z-10">
		<div class="w-full lg:w-1/3 h-32 lg:h-64 rounded-3xl bg-slate-50 relative shadow-gray-300 mt-6">
			<div class="w-16 h-16 lg:w-24 lg:h-24 absolute top-4 right-5 lg:right-1 ">
				<%= image_tag("home_img/modeling.png") %>
			</div>
			<div class="absolute bottom-4 left-6">
				<p class="text-xs text-zinc-500 uppercase">
					<%= t('static_page.home.tabs_title_1') %>
				</p>
				<h4 class="text-xl text-gray-800">
					<%= t('static_page.home.modeling') %>
				</h4>
			</div>
		</div>
		<div class="w-full lg:w-1/3 h-32 lg:h-64 rounded-3xl bg-slate-50 relative shadow-gray-300 mt-6 lg:ml-6">
			<div class="w-16 h-16 lg:w-24 lg:h-24 absolute top-8 right-5 lg:right-1 ">
				<%= image_tag("home_img/render.png") %>
			</div>
			<div class="absolute bottom-4 left-6">
				<p class="text-xs text-zinc-500 uppercase">
					<%= t('static_page.home.tabs_title_2') %>
				</p>
				<h4 class="text-xl text-gray-800">
					<%= t('static_page.home.render') %>
				</h4>
			</div>
		</div>
		<div class="w-full lg:w-1/3 h-32 lg:h-64 rounded-3xl bg-slate-50 relative shadow-gray-300 mt-6 lg:ml-6">
			<div class="w-16 h-16 lg:w-24 lg:h-24 absolute top-8 right-1 lg:-right-7 ">
				<%= image_tag("home_img/print.png") %>
			</div>
			<div class="absolute bottom-4 left-6">
				<p class="text-xs text-zinc-500 uppercase">
					<%= t('static_page.home.tabs_title_3') %>
				</p>
				<h4 class="text-xl text-gray-800">
					<%= t('static_page.home.print') %>
				</h4>
			</div>
		</div>
	</div>
</div>
<div class="w-full min-h-max relative top-0 lg:-top-48 z-10 bg-gray-800 pb-16 lg:pb-0">
	<div class="max-w-screen-2xl mx-auto px-7 md:px-24 py-0 lg:py-44">
		<div class="pt-10 lg:pt-32 px-4 lg:px-0 text-slate-50 text-center lg:text-left">
			<p class="text-base text-zinc-500 uppercase">
				<%= t('static_page.home.quality_subtitle') %>
			</p>
			<h4 class="text-3xl lg:text-5xl font-medium">
				<%= t('static_page.home.quality_title1') %>
				<br />
				<%= t('static_page.home.quality_title2') %>
			</h4>
			<p class="w-full lg:w-2/5 text-base lg:text-lg pt-10 pb-16">
				<%= t('static_page.home.quality_desc') %>
			</p>
		</div>
		<div class="flex flex-col justify-center items-center lg:items-start lg:justify-start">
			<div class="w-1/6 flex flex-col justify-center items-center lg:items-start lg:flex-row lg:justify-start text-2xl text-zinc-500 mt-3">
				<%= image_tag("home_img/low.png") %>
				<h4 class="ml-0 lg:ml-4">
					<%= t('static_page.home.low') %>
				</h4>
			</div>
			<div class="w-1/6 flex-col justify-center items-center flex lg:flex-row lg:justify-start text-2xl text-slate-50 mt-8">
				<%= image_tag("home_img/middle.png") %>
				<h4 class="ml-0 lg:ml-4">
					<%= t('static_page.home.middle') %>
				</h4>
			</div>
			<div class="w-1/6 flex-col justify-center items-center flex lg:flex-row lg:justify-start text-2xl text-zinc-500 mt-8">
				<%= image_tag("home_img/high.png") %>
				<h4 class="ml-0 lg:ml-4">
					<%= t('static_page.home.high') %>
				</h4>
			</div>
		</div>
	</div>
</div>
<div class="w-full relative top-18 lg:-top-48">
	<div class="relative">
		<div class="w-full h-full absolute top-0 left-0 bg-zinc-800 opacity-70"></div>
		<div class="w-full h-98 bg-cover bg-center" style="background-image: url(/assets/home_img/printer_bg.png)"></div>
		<div class="w-full h-full absolute top-0 left-0 flex flex-col justify-center items-center text-slate-50">
			<div class="text-center px-4">
				<p class="text-base text-zinc-400 uppercase">
					<%= t('static_page.home.component_subtitle') %>
				</p>
				<h4 class="text-3xl lg:text-5xl font-medium">
					<%= t('static_page.home.component_title_1') %>
					<br />
					<%= t('static_page.home.component_title_2') %>
				</h4>
			</div>
		</div>
	</div>
</div>
<div class="w-full max-w-screen-2xl mx-auto px-7 md:px-24 relative lg:-top-32">
	<div class="h-96 text-center flex flex-col justify-center items-center">
		<h4 class="text-3xl lg:text-5xl font-medium">
			<%= t('static_page.home.question_title') %>
		</h4>
		<p class="text-base text-zinc-500 py-3">
			<%= t('static_page.home.question_suptitle') %>
		</p>
      <%= render 'question_form'%>
    </div>
	</div>
</div>
