<div class="w-full h-full max-w-screen-2xl mx-auto px-7 md:px-24">
	<div class="min-h-screen relative flex justify-center items-center">
		<div class="w-full flex flex-col justify-center items-center lg:flex-row lg:justify-between">
			<div class="lg:w-6/12 text-center lg:text-left order-2 lg:order-1 relative">
				<div class="lg:absolute lg:-top-56 z-20">
					<p class="text-xs text-slate-500 uppercase font-medium">3D-Друк</p>
					<h1 class="text-3xl lg:text-6xl text-gray-800 pt-2 font-medium">Твоя ідея,<br /> наше втілення</h1>
				</div>
			</div>
			<div class="w-full lg:w-4/12 order-1 lg:order-2">
				<div class="w-full lg:w-4/5 lg:absolute top-6 -right-7 z-10">
					<%= image_tag("home_img/models.png") %>
				</div>
			</div>
		</div>
	</div>
	<div class="relative flex flex-col justify-center items-center">
		<h4 class="absolute bottom-14 text-center text-zinc-500 uppercase font-medium pb-2 bg-stone-200 z-20">Гортай вниз
		</h4>
		<div class="absolute bottom-4 z-10">
			<%= image_tag("home_img/arrow.png") %>
		</div>
	</div>
	<div class="w-full px-4 lg:px-0 lg:w-2/4 mx-auto py-20 text-zinc-500 text-center">
		<p>Друк здійснюється спеціальним пристроєм — 3D-принтером, який забезпечує створення фізичного об'єкта шляхом
			послідовного накладання пластичного матеріалу на основі віртуальної 3D-моделі. </p>
	</div>
	<div class="flex flex-col justify-between items-center lg:flex-row relative z-20">
		<div class="w-full lg:w-1/3 h-32 lg:h-64 rounded-3xl bg-slate-50 relative shadow-gray-300 mt-6">
			<div class="w-16 h-16 lg:w-24 lg:h-24 absolute top-4 right-5 lg:right-1 ">
				<%= image_tag("home_img/modeling.png") %>
			</div>
			<div class="absolute bottom-4 left-6">
				<p class="text-xs text-zinc-500 uppercase">18 проектів</p>
				<h4 class="text-xl text-gray-800">Моделювання</h4>
			</div>
		</div>
		<div class="w-full lg:w-1/3 h-32 lg:h-64 rounded-3xl bg-slate-50 relative shadow-gray-300 mt-6 lg:ml-6">
			<div class="w-16 h-16 lg:w-24 lg:h-24 absolute top-8 right-5 lg:right-1 ">
				<%= image_tag("home_img/render.png") %>
			</div>
			<div class="absolute bottom-4 left-6">
				<p class="text-xs text-zinc-500 uppercase">14 проектів</p>
				<h4 class="text-xl text-gray-800">Рендеринг</h4>
			</div>
		</div>
		<div class="w-full lg:w-1/3 h-32 lg:h-64 rounded-3xl bg-slate-50 relative shadow-gray-300 mt-6 lg:ml-6">
			<div class="w-16 h-16 lg:w-24 lg:h-24 absolute top-8 right-1 lg:-right-7 ">
				<%= image_tag("home_img/print.png") %>
			</div>
			<div class="absolute bottom-4 left-6">
				<p class="text-xs text-zinc-500 uppercase">49 проектів</p>
				<h4 class="text-xl text-gray-800">Друк</h4>
			</div>
		</div>
	</div>
</div>
<div class="w-full min-h-max relative top-10 lg:-top-28 z-10 bg-gray-800">
	<div class="max-w-screen-2xl mx-auto px-7 md:px-24 py-0 lg:py-44">
		<div class="pt-10 lg:pt-32 px-4 lg:px-0 text-slate-50 text-center lg:text-left">
			<p class="text-base text-zinc-500 uppercase">Якість</p>
			<h4 class="text-3xl lg:text-6xl font-medium">Багато рівнів <br />деталізації</h4>
			<p class="w-full lg:w-2/5 text-base lg:text-lg pt-10 pb-16">All print settings are automatically set the moment
				you insert a Nectar spool
				so you can spend time modeling parts, rather than schooling yourself to become a 3D Printing expert.</p>
		</div>
		<div class="flex flex-col justify-center items-center lg:items-start lg:justify-start">
			<div
				class="w-1/6 flex flex-col justify-center items-center lg:items-start lg:flex-row lg:justify-start text-2xl text-zinc-500 mt-3">
				<%= image_tag("home_img/low.png") %>
					<h4 class="ml-0 lg:ml-4">Низька</h4>
			</div>
			<div
				class="w-1/6 flex-col justify-center items-center flex lg:flex-row lg:justify-start text-2xl text-slate-50 mt-8">
				<%= image_tag("home_img/middle.png") %>
					<h4 class="ml-0 lg:ml-4">Середня</h4>
			</div>
			<div
				class="w-1/6 flex-col justify-center items-center flex lg:flex-row lg:justify-start text-2xl text-zinc-500 mt-8">
				<%= image_tag("home_img/high.png") %>
					<h4 class="ml-0 lg:ml-4">Висока</h4>
			</div>
		</div>
	</div>
</div>
<div class="w-full relative -top-32">
	<div class="relative">
		<div class="w-full h-full absolute top-0 left-0 bg-stone-700 opacity-60"></div>
		<div class="bg-cover bg-center h-98 w-full" style="background-image: url(/assets/home_img/printer_bg.png)"></div>
	</div>
</div>