<div class="w-full h-full max-w-screen-2xl mx-auto relative top-2 z-20" data-controller="upload-model">
  <div data-controller="sidebar" class="lg:mx-auto block lg:flex lg:justify-between
    pb-14 mt-8 px-7 md:px-24 mt-8 overflow-hidden">
    <div class="w-full xl:w-2/3">
      <section>
        <div data-upload-model-target="uploadContainer" class="w-full h-[420px] md:h-[544px] flex flex-col
          justify-center items-center border-2 border-dashed border-zinc-400 rounded-2xl">
          <div class="flex">
            <div class="w-32">
              <%= image_tag("calculator_img/file_expanding1.png") %>
            </div>
            <div class="w-32 -ml-12">
              <%= image_tag("calculator_img/file_expanding2.png") %>
            </div>
          </div>
          <div class="w-full md:w-1/2 mx-auto flex flex-col justify-center items-center">
            <p class="text-base text-gray-500 text-center w-[220px] px-2">
              <%= t('calculator.model.format_explaining') %>
            </p>
            <button class="relative p-4 mt-10 bg-yellow-400 rounded-lg
                text-base text-center sm:text-xl font-medium uppercase cursor-pointer">
              <input id="file" type="file" accept=".stl, .obj" class="w-full h-full absolute top-0 left-0
                opacity-0 cursor-pointer" />
              <p>
                <%= t('calculator.btns.upload_model') %>
              </p>
            </button>
          </div>
        </div>
        <div data-upload-model-target="viewContainer" style="display: none;">
          <div class="w-full h-[544px] relative border-2 border border-zinc-400 rounded-2xl">
            <div class="model__panel w-12 mt-6 ml-6 absolute top-2 left-2 bg-white flex flex-col justify-center
              items-center px-2 py-1 rounded-lg">
              <button class="mt-2 mb-2">
                <%= image_tag("calculator_img/zoom_in.png") %>
              </button>
              <button class="mt-2 mb-2">
                <%= image_tag("calculator_img/zoom_out.png") %>
              </button>
              <button class="mt-2 mb-2">
                <%= image_tag("calculator_img/rotate.png") %>
              </button>
              <button class="mt-2 mb-2">
                <%= image_tag("calculator_img/grid.png") %>
              </button>
            </div>
            <div class="absolute top-8 right-8">
              <%= image_tag("calculator_img/xyz.png") %>
            </div>
          </div>
          <button data-action="click->sidebar#toggle"
            class="relative w-full h-14 mt-10 bg-yellow-400 flex lg:hidden
            justify-center items-center rounded-lg text-base px-3 text-center sm:px-0 sm:text-xl font-medium
            uppercase cursor-pointer">
            <div class=" w-6">
              <%= image_tag("calculator_img/settings.png") %>
            </div>
            <h4 class="ml-2 font-medium">
              <%= t('calculator.subtitles.settings') %>
            </h4>
          </button>
          <div class="model_details mt-6 text-gray-800">
            <div class="flex flex-col flex-col-reverse lg:flex-row justify-between items-center">
              <div class="flex items-center">
                <div class="w-7 mr-3">
                  <%= image_tag("calculator_img/cube.png") %>
                </div>
                <h4>
                  <%= t('calculator.subtitles.characteristics') %>
                </h4>
              </div>
              <button class="w-full lg:w-1/4 h-14 lg:h-12 change-model flex lg:justify-center items-center mb-8 lg:mb-0 px-4
                py-2 border-2 border-zinc-800 rounded-xl font-medium uppercase relative">
                <input id="file" type="file" accept=".stl, .obj"
                  class="w-full h-full absolute top-0 left-0 opacity-0 cursor-pointer" />
                <div class="flex items-center mx-auto">
                  <p class="mr-2">
                    <%= image_tag("calculator_img/change_model.png") %>
                  </p>
                  <%= t('calculator.btns.change_model') %>
                </div>
              </button>
            </div>
            <div class="w-full h-0.5 bg-zinc-300 my-4"></div>
            <div class="model-parametres flex flex-col lg:flex-row justify-between">
              <div class="w-full lg:w-2/5">
                <div class="flex flex-col lg:flex-row justify-between items-center my-4">
                  <p class="w-full lg:w-fit text-center lg:text-start">
                    <%= t('calculator.model.characteristics.model') %>
                  </p>
                  <p class="w-[172px] truncate text-center md:text-left ">Baby_Groot_Planterjhgjivivvi.stl</p>
                </div>
                <div class="flex flex-col lg:flex-row justify-between items-center my-4">
                  <p class="w-full lg:w-fit text-center lg:text-start">
                    <%= t('calculator.model.characteristics.dimensions') %>
                  </p>
                  <p class="w-1/2 text-center md:text-left">42 x 32 x 14 cм</p>
                </div>
                <div class="flex flex-col lg:flex-row justify-between items-center my-4">
                  <p class="w-full lg:w-fit text-center lg:text-start">
                    <%= t('calculator.model.characteristics.volume') %>
                  </p>
                  <p class="w-1/2 text-center md:text-left">18,35 см<sup>3</sup></p>
                </div>
              </div>
              <div class="w-full lg:w-2/5">
                <div class="flex flex-col lg:flex-row justify-between items-center my-4">
                  <p class="w-full lg:w-fit text-center lg:text-start">
                    <%= t('calculator.model.characteristics.area') %>
                  </p>
                  <p class="w-[100px] text-center md:text-left">347,12 см<sup>3</sup></p>
                </div>
                <div class="flex flex-col lg:flex-row justify-between items-center my-4">
                  <p class="w-full lg:w-fit text-center lg:text-start">
                    <%= t('calculator.model.characteristics.consumptions') %>
                  </p>
                  <p class="w-[100px] text-center md:text-left">66,44 г</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div data-sidebar-target="sidebarContainer" data-expanded="1"
      class="w-full h-full min-h-fit overflow-auto lg:w-1/3 xl:ml-10 text-base bg-white px-8 pt-6 pb-8 xl:rounded-2xl
      fixed xl:relative z-40 inset-y-0 left-0 transform xl:transform-none -translate-x-full transition duration-700 ease-in-out">
      <section data-upload-model-target="settingsContainer" class="sidebar relative">
        <div class="close-btn absolute top-0 -right-4 block xl:hidden" data-action="click->sidebar#toggle">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </div>
        <div class="flex items-center">
          <div class="w-6">
            <%= image_tag("calculator_img/settings.png") %>
          </div>
          <h4 class="ml-2 font-medium">
            <%= t('calculator.subtitles.settings') %>
          </h4>
          <div class="settings-close"></div>
        </div>
        <p class="text-gray-500 mt-4">
          <%= t('calculator.settings.desc') %>
        </p>
        <div class="w-full h-0.5 bg-zinc-200 my-4"></div>
        <form>
          <div class="settings__content">
            <div class="settings__visual">
              <div class="filling">
                <h5 class="text-gray-500">
                  <%= t('calculator.settings.subtitles.filling') %>
                </h5>
                <div data-controller="filling" class="flex justify-between items-center">
                  <div class="filling-container">
                    <input data-filling-target="slider" data-action="input->filling#changeSliderValue" type="range"
                      id="filling_slider" min="10" max="100" step="10" name="filling"
                      class="w-full h-1.5 bg-zinc-200 rounded appearance-none" />
                    <div data-filling-target="progressBar" id="filling_progressBar"></div>
                  </div>
                  <select data-filling-target="fillingOption" data-action="change->filling#changeSelectValue"
                    name="filling">
                    <option value="10">10 %</option>
                    <option value="20">20 %</option>
                    <option value="30">30 %</option>
                    <option value="40">40 %</option>
                    <option value="50">50 %</option>
                    <option value="60">60 %</option>
                    <option value="70">70 %</option>
                    <option value="80">80 %</option>
                    <option value="90">90 %</option>
                    <option value="100">100 %</option>
                  </select>
                </div>
              </div>
              <div class="colors">
                <h5 class="text-gray-500">
                  <%= t('calculator.settings.subtitles.color') %>
                </h5>
                <div class="colors-wrapper"></div>
              </div>
            </div>
            <div class="w-full h-0.5 bg-zinc-200 my-4"></div>
            <div class="print">
              <div class="mt-2 mb-4">
                <h4 class="text-gray-500 mb-2">
                  <%= t('calculator.settings.subtitles.material') %>
                </h4>
                <select name="material" class="w-full rounded">
                  <option value="ABS">Пластик ABS (від ₴ 345)</option>
                </select>
              </div>
              <div class="mt-2 mb-4">
                <h4 class="text-gray-500 mb-2">
                  <%= t('calculator.settings.subtitles.quality') %>
                </h4>
                <select name="quality" class="w-full rounded">
                  <option value="300">300 мікрон</option>
                </select>
              </div>
            </div>
          </div>
          <div data-upload-model-target="orderContainer">
            <div class="w-full h-0.5 bg-zinc-300 my-6"></div>
            <div class="flex items-center">
              <%= image_tag("partials_img/payment.png") %>
                <h4 class="ml-2 font-medium">
                  <%= t('calculator.settings.estimated_cost') %>
                </h4>
            </div>
            <div class="flex justify-between items-center my-6 font-medium text-xl">
              <h4>
                <%= t('calculator.settings.approximately') %>
              </h4>
              <h4>від ₴ 3890</h4>
            </div>
            <button class="w-full h-14 mt-10 bg-yellow-400 flex justify-center items-center rounded-lg
              text-base px-3 text-center sm:px-0 sm:text-xl font-medium uppercase cursor-pointer">
              <%= t('calculator.btns.order_print') %>
            </button>
          </div>
        </form>
      </section>
    </div>
  </div>
</div>
