<div class="w-full h-98 max-w-screen-2xl mx-auto px-7 md:px-24 " data-controller="modal" data-modal-allow-background-close="true" data-action="modal#open">
  <div class="  mt-10  mh-30 w-4/6 h-full" >
    <div class="text-2xl text-gray-800 font-medium">
        <%= 'Registration'%>
    </div>
    <%# <div class="mt-2 w-full h-px  bg-gray-400"></div> %>
  </div>
</div>















<%# <h2>Sign up</h2>

<%# simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%# <%= f.error_notification %>

  <%# <div class="form-inputs"> %>
    <%# <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%# <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%# <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>

  <%# <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  <%# </div>
<% end %>

<%# <%= render "devise/shared/links" %>
