<div class="w-full h-full max-w-screen-2xl mx-auto px-7 md:px-24 pb-10">
  <div class="mt-10 w-full lg:w-4/6 h-full" >
    <div class="text-2xl text-gray-800 font-medium">
        <%= t('devise.registrations.registration') %>
    </div>
      <div class="flex items-center mt-8">
        <div class="w-6 h-6">
          <%= image_tag("partials_img/user.png") %>
        </div>
        <div class="ml-2 text-gray-800 text-base font-medium">
          <%= t('devise.registrations.personal_date') %>
        </div>
      </div>
    <%= simple_form_for(resource, as: resource_name, html: { 'data-turbo' => "false" }, url: registration_path(resource_name)) do |f| %>
      <div class="mt-3 mb-3 w-full h-px bg-gray-400"></div>
      <div>
        <div class="flex flex-col lg:flex-row lg:justify-between items-center">
          <div class="w-full lg:w-3/5">
            <div>
              <%= f.label :first_name, t('devise.registrations.first_name') %>
            </div>
            <div class="mt-1">
              <%= f.text_field :first_name,
                                required: false,
                                class: "w-full rounded",
                                label: false,
                                input_html: { autocomplete: "first_name" } %>
            </div>
          </div>
          <div class="w-full mt-3 lg:mt-0 lg:w-3/5 ml-0 lg:ml-6">
            <div>
              <%= f.label :last_name, t('devise.registrations.last_name') %>
            </div>
            <div class="mt-1">
            <%= f.text_field :last_name,
                              required: false,
                              class: "w-full rounded",
                              label: false,
                              input_html: { autocomplete: "last_name" } %>
            </div>
          </div>
        </div>
        <div class="flex flex-col lg:flex-row lg:justify-between items-center mt-5">
          <div class="w-full lg:w-3/5">
            <div>
              <%= f.label :phone, t('devise.registrations.phone') %>
            </div>
            <div class="mt-1">
            <%= f.phone_field :phone,
                              value: '+380',
                              required: false,
                              label: false,
                              class: "w-full rounded",
                              autofocus: true,
                              placeholder: 'xxx-xxx-xxxx',
                              input_html: { autocomplete: "phone" } %>
            </div>
          </div>
          <div class="w-full mt-3 lg:mt-0 lg:w-3/5 ml-0 lg:ml-6">
            <div>
              <%= f.label :email, t('devise.registrations.email') %>
            </div>
            <div class="mt-1">
            <%= f.text_field :email,
                              required: false,
                              class: "w-full rounded",
                              label: false,
                              input_html: { autocomplete: "email" } %>
            </div>
          </div>
        </div>
      </div>
      <div class="pt-10">
        <div class="flex">
          <div class="w-6 h-6">
            <%= image_tag("partials_img/lock.png") %>
          </div>
          <div class="ml-2 text-gray-800 text-base font-medium">
            <%= t('devise.registrations.password') %>
          </div>
        </div>
        <div class="mt-3 mb-3 w-full h-px bg-gray-400"></div>
        <div class="flex flex-col lg:flex-row lg:justify-between items-center">
          <div data-controller="password" class="w-full lg:w-3/5" >
            <div class="mt-1">
              <%= f.label :password %>
            </div>
            <div class="mt-1 relative">
              <%= f.password_field :password, autocomplete: "current-password", class: "w-full rounded form-control unhide", "data-password-target": "unhide" %>
              <div data-action="click->password#password" class="absolute bottom-3.5 right-2 password-field-icon-1 fas fa-eye-slash"></div>
            </div>
          </div>
          <div data-controller="password" class="w-full mt-3 lg:mt-0 lg:w-3/5 ml-0 lg:ml-6" >
            <div class="mt-1">
              <%= f.label :password_confirmation %>
            </div>
            <div class="mt-1 relative">
              <%= f.password_field :password_confirmation, autocomplete: "current-password", class: "w-full rounded form-control unhide", "data-password-target": "unhide" %>
              <div data-action="click->password#password" class="absolute bottom-3.5 right-2 password-field-icon-1 fas fa-eye-slash"></div>
            </div>
          </div>
        </div>
        <div class="pt-5 pb-3 cursor-pointer text-gray-800">
            <button class="w-full md:w-56 flex justify-center items-center text-base text-gray-800 bg-yellow-400 font-medium px-4 py-3
              mt-2 rounded-lg uppercase hover:bg-yellow-500 cursor-pointer transition ease-in duration-400">
              <%= f.button :submit, t('devise.registrations.save') %>
            </button>
        </div>
      </div>
    <% end %>
  </div>
</div>
