<%= content_tag :div, class: "row mb-8 align-items-center", id: dom_id(cart_item) do %>
  <div class="basket-sidebar mt-8 h-4/6 overflow-y-auto pr-4">
    <div class="flex justify-between items-center relative">
      <div class="flex items-center">
        
        <%= link_to "remove", carts_cart_item_path(cart_item), method: :delete %>
        <div class="w-16 h-16 bg-gray-300 ml-2">
          <% if cart_item.cartable.is_a?(Product) && cart_item.cartable.main_picture.present?%>
            <%= image_tag(cart_item.cartable.main_picture) %>
          <% end %>
        </div>
        <div class="ml-3">
          <h6 class="text-sm text-gray-800 font-medium">
            <%= cart_item.cartable.name %>
          </h6>
          <div class="w-20 flex justify-between items-center mt-2">
            <%= link_to '+', update_quantity_carts_cart_item_path(cart_item, operation: '+'), method: :patch, remote: true %>
            <p> <%= render "carts/item_quantity", cart_item: cart_item %></p>
            <%= link_to '-', update_quantity_carts_cart_item_path(cart_item, operation: '-'), method: :patch, remote: true %>
          </div>
        </div>
      </div>
      <div class="w-16 flex justify-end absolute bottom-0 right-0 sm:relative sm:-top-3 sm:-mt-1.5 text-sm text-gray-800 font-medium">
        <%= number_to_uah((cart_item.cart_item_option_values.map(&:price).sum) * cart_item.quantity) %>
      </div>
    </div>
  </div>
<% end %>