<div data-controller="modal" data-modal-allow-background-close="true" data-action="modal#open">
  <!-- Modal Container -->
    <div data-modal-target="container" class=" animated fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center" style="z-index: 9999;">
      <div data-action="click->modal#close" style='background-color: rgba(0, 0, 0, 0.8)' class="absolute top-0 left-0 w-full min-h-screen "></div>
      <!-- Modal Inner Container -->
      <div class="max-h-screen w-full max-w-lg relative">
        <!-- Modal Card -->
        <div class="p-6 max-w-sm mx-auto bg-white rounded-3xl shadow-lg">
          <div class="font-medium  text-2xl" >
            <%= t('global.registration.sign_in') %>
          </div>
          <div class="p-8">
            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-inputs">
                <div>
                  <%= f.label :email, t('global.registration.email_or') %>
                  <%= f.input :email,
                              required: false,
                              label: false,
                              input_html: { autocomplete: "email" } %>
                </div>
                <div class="relative" >
                  <%= f.label :password %>
                  <%= f.password_field :password, autocomplete: "current-password", class: 'form-control unhide', "data-modal-target": "unhide" %>
                  <a data-action="click->modal#password" class="absolute bottom-3.5 right-2 password-field-icon-1 fas fa-eye-slash"></a>
                </div>
                <div class="my-1.5" >
                  <%= f.input :remember_me, as: :boolean, label: t('global.registration.remember_me'), input_html: { class: "mr-2  text-regal-orange py-2 px-2 align-text-top "} if devise_mapping.rememberable?%>
                </div>
                <div class="flex-grow border-t border-gray-300"></div>
                <div class="my-2 bg-regal-orange hover:bg-orange-400 text-black text-center font-bold py-2 px-4 rounded-md">
                  <%= f.button :submit, t('global.header.sign_in') %>
                </div>
                <div class="relative flex  items-center">
                    <div class="flex-grow border-t border-gray-300"></div>
                    <span class="flex-shrink mx-3 text-gray-400"><%= t('global.registration.or') %></span>
                    <div class="flex-grow border-t border-gray-300"></div>
                </div>
                <%- if devise_mapping.omniauthable? %>
                  <%- resource_class.omniauth_providers.each do |provider| %>
                    <div class=" relative  my-2 bg-blue-500 hover:bg-blue-400 text-black text-center py-2 px-4 rounded-md">
                      <%= link_to t('global.registration.goggle'), omniauth_authorize_path(resource_name, provider), method: :post %><br />
                      <svg class="absolute bottom-0.5 left-2 p-1 h-8 w-8 text-black"  width="20" height="20" viewBox="0 0 25 25" stroke-width="4" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M17.788 5.108A9 9 0 1021 12h-8" /></svg>
                    </div>
                  <% end %>
                <% end %>
              </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
