<div class="w-screen h-full lg:max-w-screen-2xl lg:mx-auto pb-14 pl-7 mt-16 md:pl-24 mt-8 overflow-hidden">
  <h4 class="text-2xl text-gray-800 mb-7 font-medium">
    <%= t('show.product.liked_title') %>
  </h4>
  <div class="relative w-full overflow-x-auto py-5">
    <div class="w-[110rem] pr-12 flex justify-between items-center">
      <div class="w-80 h-80 bg-gradient-to-br from-gray-700 to-gray-800 rounded-3xl relative overflow-hidden">
        <div class="px-5 py-5">
          <p class="text-zinc-400 text-base">
						<%= t('stores.index.category_type1') %>
					</p>
					<h4 class="text-white text-2xl font-medium">
						<%= t('stores.index.goods_title1') %>
					</h4>
          <p class="text-3xl text-white pt-5">₴ 329</p>
        </div>
        <div class="w-7/12 lg:w-10/12 absolute bottom-0 right-0">
          <%= image_tag("shop_img/model1.png") %>
        </div>
      </div>
      <div class="w-80 h-80 bg-gradient-to-br from-gray-700 to-gray-800 rounded-3xl relative overflow-hidden">
        <div class="px-5 py-5">
          <p class="text-zinc-400 text-base">
						<%= t('stores.index.category_type1') %>
					</p>
					<h4 class="text-white text-2xl font-medium">
						<%= t('stores.index.goods_title2') %>
					</h4>
          <p class="text-3xl text-white pt-5">₴ 329</p>
        </div>
        <div class="w-7/12 lg:w-10/12 absolute bottom-0 right-0">
          <%= image_tag("shop_img/model2.png") %>
        </div>
      </div>
      <div class="w-80 h-80 bg-gradient-to-br from-gray-700 to-gray-800 rounded-3xl relative overflow-hidden">
        <div class="px-5 py-5">
          <p class="text-zinc-400 text-base">
						<%= t('stores.index.category_type1') %>
					</p>
					<h4 class="text-white text-2xl font-medium">
						<%= t('stores.index.goods_title1') %>
					</h4>
          <p class="text-3xl text-white pt-5">₴ 329</p>
        </div>
        <div class="w-7/12 lg:w-10/12 absolute bottom-0 right-0">
          <%= image_tag("shop_img/model3.png") %>
        </div>
      </div>
      <div class="w-80 h-80 bg-gradient-to-br from-gray-700 to-gray-800 rounded-3xl relative overflow-hidden">
        <div class="px-5 py-5">
          <p class="text-zinc-400 text-base">
						<%= t('stores.index.categories_title1') %>
					</p>
					<h4 class="text-white text-2xl font-medium">
						<%= t('stores.index.goods_title3') %>
					</h4>
          <p class="text-3xl text-white pt-5">₴ 329</p>
        </div>
        <div class="w-7/12 lg:w-10/12 absolute bottom-0 right-0">
          <%= image_tag("shop_img/model4.png") %>
        </div>
      </div>
      <div class="w-80 h-80 bg-gradient-to-br from-gray-700 to-gray-800 rounded-3xl relative overflow-hidden">
        <div class="px-5 py-5">
          <p class="text-zinc-400 text-base">
						<%= t('stores.index.categories_title2') %>
					</p>
					<h4 class="text-white text-2xl font-medium">
						<%= t('stores.index.goods_title1') %>
					</h4>
          <p class="text-3xl text-white pt-5">₴ 329</p>
        </div>
        <div class="w-7/12 lg:w-10/12 absolute bottom-0 right-0">
          <%= image_tag("shop_img/model5.png") %>
        </div>
      </div>
    </div>
  </div>
</div>
