<%= turbo_frame_tag "filtering" do %>
  <%= form_for :search, url: "#" do |f| %>

    <%= f.text_field :query, class: "w-full py-2 flex flex-center justify-center rounded" %>
    <h4 class="text-lg text-gray-800">
      <%= t('stores.index.categories_suptitle') %>
    </h4>
    <%- @product_categories.each do |category| %>
      <div class="mt-3 cursor-pointer">
        <div class="flex justify-between">
          <div class="flex items-center">
            <%= f.check_box :category_id, { multiple: true, class: "w-2.5 h-2.5 appearance-none bg-white ring-1 ring-offset-2 ring-gray-400 focus:outline-0 checked:bg-yellow-500 bg-none rounded" } ,
              category.id, nil %>
            <%= f.label category.name.humanize, class:"ml-3 cursor-pointer" %>
          </div>
        </div>
      </div>
    <% end %>
    <hr />

    <h4 class="text-lg text-gray-800">
      <%= t('stores.index.price') %>
    </h4>
    <div class="pt-4 cursor-pointer pb-8">
      <div class="price-range-slider" data-controller="priceslider">
        <div class="price-container">
          <div class="slider-track" data-priceslider-target="sliderTrack"></div>
          <%= f.text_field :price, type: 'range', "min": '0', "max": '3000', 'value': "0", "data-priceslider-target": "sliderOne", "data-action": "input->priceslider#sliderOne" %>
          <%= f.text_field :price, type: 'range', "min": '0', "max": '3000', "data-priceslider-target": "sliderTwo", "data-action": "input->priceslider#sliderTwo" %>
        </div>
        <div class="slider-range">
          <span id="range1" data-priceslider-target="displayValOne"></span>
          <span id="range2" data-priceslider-target="displayValTwo"></span>
        </div>
      </div>
    </div>

    <%= f.submit t('stores.index.search_btn'), class: "w-full py-2 bg-yellow-400 flex flex-center justify-center rounded hover:bg-yellow-500" %>
  <% end %>
<% end %>