<%= form_for(@product) do |form| %>
  <div class="w-screen h-full lg:max-w-screen-2xl lg:mx-auto block lg:flex lg:justify-between pb-14 px-7 mt-8 md:px-24 mt-8 overflow-hidden">
    <div class="w-full lg:w-1/3">
      <div class="flex items-center -ml-1.5">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
        </svg>
        <%= link_to t('show.product.link'), products_path, class: "font-base font-medium text-gray-800 ml-2" %>
      </div>
      <div class="mt-6">
        <div class="block md:flex md:justify-between items-end font-medium text-gray-800">
          <div>
            <p class="text-zinc-500 text-base font-normal">
              <%= @product.category.name  %>
            </p>
            <h4 class="text-2xl pt-1">
              <%= @product.name %>
            </h4>
          </div>
          <p class="text-3xl">₴ <%=@product.price%></p>
        </div>

        <div class="mt-1"></div>
          <p class="text-zinc-500 text-base">
            <%= t('show.product.parameter1') %>
          </p>
          <div class="w-full lg:w-4/6 justify-between items-center mt-3">
            <%= form.collection_radio_buttons(:options, available_colors(@product.options.first.option_values), :itself, :itself ) do |builder| %>
              <%= builder.radio_button style: "background-color: #{select_colors[builder.value.to_sym]}; ;background-image: none; border: none; height: 2rem; width: 2rem;"  %>
            <% end %>
          </div>

          <p class="text-zinc-500 text-base mt-6">
            <%= t('show.product.parameter2') %>
          </p>

          <select name="count" class="w-full rounded mt-1">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>

      </div>
    </div>
  </div>
<% end %>


<div class="w-screen h-full lg:max-w-screen-2xl lg:mx-auto block lg:flex lg:justify-between pb-14 px-7 mt-8 md:px-24 mt-8 overflow-hidden">
  <div class="w-full lg:w-1/3">
    <div class="flex items-center -ml-1.5">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
      </svg>
      <a href="#" class="font-base font-medium text-gray-800 ml-2">
        <%= t('show.product.link') %>
      </a>
    </div>
    <div class="mt-6">
      <div class="block md:flex md:justify-between items-end font-medium text-gray-800">
        <div>
          <p class="text-zinc-500 text-base font-normal">
            <%= @product.category.name  %>
          </p>
          <h4 class="text-2xl pt-1">
            <%= @product.name %>
          </h4>
        </div>
        <p class="text-3xl">₴ 329</p>
      </div>
      <div class="w-full h-px bg-zinc-400 my-3"></div>


      <div class="mt-1">
        <p class="text-zinc-500 text-base">
          <%= t('show.product.parameter1') %>
        </p>
        <div class="w-full lg:w-4/6 flex justify-between items-center mt-3">
          <input type="radio" name="model_color" class="w-8 h-8 appearance-none bg-none checked:ring-1 ring-offset-2 ring-gray-400"
            style="background-color:white; background-image: none; border: none;" />
          <input type="radio" name="model_color" class="w-8 h-8 appearance-none bg-none checked:ring-1 ring-offset-2 ring-gray-400"
            style="background-color:#E9646B; ;background-image: none; border: none;" />
          <input type="radio" name="model_color" class="w-8 h-8 appearance-none bg-none checked:ring-1 ring-offset-2 ring-gray-400"
            style="background-color:#F1C232; background-image: none; border: none;" />
          <input type="radio" name="model_color" class="w-8 h-8 appearance-none bg-none checked:ring-1 ring-offset-2 ring-gray-400"
            style="background-color:#000000; background-image: none; border: none;" />
          <input type="radio" name="model_color" class="w-8 h-8 appearance-none bg-none checked:ring-1 ring-offset-2 ring-gray-400"
            style="background-color:#96E06C; background-image: none; border: none;" />
          <input type="radio" name="model_color" class="w-8 h-8 appearance-none bg-none checked:ring-1 ring-offset-2 ring-gray-400"
            style="background-color:#67ACEC; background-image: none; border: none;" />
        </div>
        <p class="text-zinc-500 text-base mt-6">
          <%= t('show.product.parameter2') %>
        </p>
        <select name="count" class="w-full rounded mt-1">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
        <p class="text-zinc-500 text-base mt-4">
          <%= t('show.product.parameter3') %>
        </p>
        <select name="height" class="w-full rounded mt-1">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
        <button class="w-full h-14 bg-yellow-400 flex items-center justify-center font-medium uppercase text-gray-800 rounded-2xl mt-8">
          <%= t('show.product.btn') %>
        </button>
      </div>
      <div data-controller="accordion" class="font-base text-gray-800 mt-6">
        <div>
          <div data-action="click->accordion#toggle" data-accordion-target="accTitle" id="acc_btn" data-id="acc_btn1" data-active="false" class="acc_title flex justify-between items-center cursor-pointer">
            <p class="font-medium pt-5 pb-3">
              <%= t('show.product.acc_title1') %>
            </p>
            <div data-accordion-target="accordionIcon" class="mt-3"></div>
          </div>
          <div class="hidden pt-3">
            <p><%= @product.description %></p>
          </div>
          <div class="w-full h-px bg-zinc-400 mt-3"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full lg:w-2/3 h-full max-h-max relative">
    <div data-controller="carousel" class="swiper-container w-full lg:w-9/12 -ml-2 lg:ml-44 mt-16 lg:mt-10"
         data-carousel-options-value='{"pagination": { "el": ".swiper-pagination"}, "navigation": { "nextEl": ".swiper-button-next","prevEl": ".swiper-button-prev"}}'>
      <div class="swiper-wrapper">
        <div class="swiper-slide flex justify-center items-center">
          <%= image_tag("shop_img/hulk1.png") %>
        </div>
        <div class="swiper-slide flex justify-center items-center">
          <%= image_tag("shop_img/hulk2.png") %>
        </div>
        <div class="swiper-slide flex justify-center items-center">
          <%= image_tag("shop_img/hulk3.png") %>
        </div>
      </div>
    </div>
    <div class="swiper-button-next hidden lg:block absolute inset-y-1/2 -right-2" style="color:#1f2937" tabindex="0"
        aria-label="Next slide"  id="acc_btn"adata-active="false" id="1"="swiper-wrapper-dec5216f065e46c3" aria-disabled="false"></div>
      <div class="swiper-button-prev absolute inset-y-1/2 left-28 hidden lg:block" style="color:#1f2937" tabindex="-1"
        aria-label="Previous sli id="acc_btn"ddata-active="false" id="1" rols="swiper-wrapper-dec5216f065e46c3" aria-disabled="true"></div>
    <div class="swiper-pagination w-32 flex justify-between -ml-16 lg:ml-0 inset-x-1/2 mt-5"></div>
  </div>
</div>
<%= render partial: "liked_products"%>
