<!DOCTYPE html>
<html>
  <head>
    <title>StormRailsTailwind</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'three.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'webgl_detector', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'Projector', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'CanvasRenderer', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'OrbitControls', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'TrackballControls', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'stl_viewer.min', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-stone-200 font-sans">
    <%= render 'shared/header' %>
    <div class="content">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
